<div class="left-cont">
    <h6>
        <span class="glyphicon glyphicon-search">
        </span>
        Refine Search
    </h6>
    <form class="filter-sec">
        <div class="selecter  closed">
            <div class="selecter-options scroller">
                <div class="scroller-bar" style="height: 100px;">
                    <div class="scroller-track" style="height: 100px; margin-bottom: 0px; margin-top: 0px;">
                        <div class="scroller-handle" style="">
                        </div>
                    </div>
                </div>
                <div class="scroller-content">
                    <span data-value="1" class="selecter-item first">
                        Transmission
                    </span>
                    <span data-value="2" class="selecter-item">
                        Two
                    </span>
                    <span data-value="3" class="selecter-item">
                        Three
                    </span>
                    <span data-value="4" class="selecter-item">
                        Four
                    </span>
                    <span data-value="5" class="selecter-item">
                        Five
                    </span>
                    <span data-value="6" class="selecter-item">
                        Six
                    </span>
                    <span data-value="7" class="selecter-item">
                        Seven
                    </span>
                    <span data-value="8" class="selecter-item">
                        Eight
                    </span>
                    <span data-value="9" class="selecter-item">
                        Nine
                    </span>
                    <span data-value="10" class="selecter-item last">
                        Ten
                    </span>
                </div>
            </div>
        </div>
        <input type="text" placeholder="Keyword (Optional)" class="form-control">
        <h5>
            Price:
        </h5>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <input type="text" placeholder="Low" class="form-control input-sm">
            </div>
            <div class="col-lg-6 col-sm-6">
                <input type="text" placeholder="High" class="form-control input-sm">
            </div>
        </div>
        <h5>
            Year:
        </h5>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <input type="text" placeholder="1999" class="form-control input-sm">
            </div>
            <div class="col-lg-6 col-sm-6">
                <input type="text" placeholder="2013" class="form-control input-sm">
            </div>
        </div>
        <div class="input-control">
            <input type="checkbox" value="One" name="checkbox_1" id="checkbox_1" class="checkbox picker-element"
            checked="checked">
            <div class="picker picker-checkbox  checked">
                <div class="picker-handle">
                    <div class="picker-flag">
                    </div>
                </div>
                <label for="checkbox_1" class="picker-label">
                    Include Listings w/o Photos
                </label>
            </div>
            <input type="checkbox" value="Two" name="checkbox_2" id="checkbox_2" class="checkbox picker-element">
            <div class="picker picker-checkbox ">
                <div class="picker-handle">
                    <div class="picker-flag">
                    </div>
                </div>
                <label for="checkbox_2" class="picker-label">
                    Include Dealers
                </label>
            </div>
        </div>
        <button class="btn btn-primary btn-sm" type="button">
            Search
        </button>
    </form>
</div>
