<div class="left-cont">
    <h6>
        <span class="glyphicon glyphicon-search">
        </span>
        Refine Search
    </h6>
    <form class="filter-sec">
				<div class="checkbox">
					<label><input type="checkbox" checked="checked" id="checkbox_1" name="checkbox_1"></input>PowerPoint</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" id="checkbox_2" name="checkbox_2"></input>Keynote</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" id="checkbox_3" name="checkbox_3"></input>PDF</label>
				</div>
        <button type="button" class="btn btn-primary btn-sm">
            Search
        </button>
    </form>
</div>

