<!-- row -->
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <!-- upload row -->
      <div id="carousel_tag" class="col-sm-12 col-md-12 col-lg-6">
        <div class="no-margin no-padding">

          <div class="row">

            <div class="col-sm-12">
              <%= render_cell :slides, :carousel, :attach_id => @slide.attach_id %>

            </div>
          </div>
        </div>

      </div>
      <!-- end upload row -->
      <!-- upload form row -->
      <div id="slide_form" class="col-sm-12 col-md-12 col-lg-6">
        <div class="no-margin no-padding">

          <div class="row">

            <div class="col-sm-12">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
      <!-- end upload form row -->
    </div>

  </div>
</div>
<!-- end row -->


