<div class="listing-page-top">
  <div class="container">
    <h2>
      幻灯片编辑
      <span class="pull-right">
      <a class="btn btn-sm btn-danger">删除此幻灯片</a>
      </span>
    </h2>
  </div>
</div>

<div class="listing-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= render_cell :slides, :carousel, :attach_id => @slide.slide %>
      </div>
      <div class="col-md-6">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
