<div class="slides">
	<h1 class="page-title txt-color-blueDark"><i class="icon-file"></i> Slides	</h1>
	<div class="row">
  	<%= render :partial => "slides/slide", :collection => @slides %>
	</div>
</div>
<%= will_paginate @slides, :inner_window => 2 %>

<% if action_name == "index" && !mobile? %>
 <%#= render_cell :topics, :index_sections %>
 <%#= render_cell :topics, :index_locations %>
<% end %>


