<!-- row -->
<div class="row">
  <div class="col-sm-12">
       <div class="row">
         <!-- upload row -->
          <div id="carousel_tag" class="col-sm-12 col-md-12 col-lg-6">
            <div class="no-margin no-padding">

              <div class="row">

                <div class="col-sm-12">
                  <%= simple_form_for Attach.new, :url => attachs_path, :html => {id: "uploadDropzone", :class => "dropzone", :multipart => true} do |f| %>
                      <h2 id="dropzone_description" class="text-center">
                        <small>文件拖拽到下框、或点击框体后选择文件，即可完成上传。</small><br>
                        <small>目前支持的上传文件格式有：PowerPoint、PDF。</small>
                      </h2>
                      <script type="text/javascript">
                          $(function() {
                              Dropzone.autoDiscover = false;

                              $('#slide_upload_form_submit').attr("disabled",true);
                              if(document.querySelector("form#uploadDropzone") && Dropzone.instances.length==0){
                              var myDropzone = new Dropzone("form#uploadDropzone", { url: "<%= attachs_path %>", maxFilesize: 100, maxFiles: 1, acceptedFiles: ".ppt,.pptx,.pdf", dictResponseError: "Error uploading file!"});

                              myDropzone.on("success", function (file, data) {
                                  if (data) {
                                      $('#slide_attach_id').val(data);
                                      $('#slide_upload_form_submit').attr("disabled",false);
                                  } else {

                                  }
                                  myDropzone.disable();

                              });
                              myDropzone.on("sending", function (file, xhr, formData) {

                                  formData.append('filetype', file.type);
                                  formData.append("filesize", file.size); // Will send the filesize along with the file as POST data.
                              });
                              }
                          });
                      </script>
                  <% end %>

                </div>
              </div>
              </div>

          </div>
         <!-- end upload row -->
         <!-- upload form row -->
         <div id="slide_form" class="col-sm-12 col-md-12 col-lg-6">
           <div class="no-margin no-padding">

             <div class="row">

               <div class="col-sm-12">
                 <%= render 'form' %>
               </div>
             </div>
           </div>
         </div>
         <!-- end upload form row -->
       </div>

    </div>
</div>
<!-- end row -->

