<div class="listing-page-top tooltip-demo">
	<div class="container">
		<h5>上传幻灯片(PowerPoint、Keynote、PDF)，填写相关信息。两步即可创建一个幻灯片项目，轻松实现多人协作，版本化管理。</h5>
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#"><i class="icon-plus"></i>创建幻灯片项目</a></li>
	  </ul>
	</div>
</div>

<!-- Begin page content -->
<div class="listing-page">
	<div class="container">
    <div class="row">
      <div class="col-md-6">
         <%= render 'upload' %>
         <!-- /#upper -->
      </div>
      <div class="col-md-6">
    		<%= render 'form' %>
      </div>
    </div>
  </div>
</div>
