<div class="listing-page-top tooltip-demo">
	<div class="container">
		<h5><%= t("slides.create_slide_description") %></h5><br><br>
	</div>
</div>

<!-- Begin page content -->
<div class="listing-page">
	<div class="container">
    <div class="row">
      <div id="carousel_tag" class="col-md-6">
        <div id="upload_landing" class="group section-wrap upper" id="upper">
          <div class="wrap group">
            <div class="section-2 group">
              <%= simple_form_for Attach.new, :url => attachs_path, :html => { id:"uploadDropzone", :class => "dropzone",:multipart => true } do |f|  %>
              <script type="text/javascript">
                  $(function() {
                      Dropzone.options.uploadDropzone = {
                          //addRemoveLinks : true,
                          maxFilesize: 20,
                          maxFiles: 1,
                          acceptedFiles: ".ppt,.pptx,.pdf",
                          dictResponseError: 'Error uploading file!',
                          init: function() {
                              this.on("success", function(file, data) {
                                  if(data) {
                                      $('#slide_slide').val(data);
                                      var cclass = "fa fa-spinner fa-spin";
                                  } else var cclass = "fa fa-bolt";

                                  $('#carousel_tag').html("<div class='document_thumb'><i class='" + cclass + "'></i></div>");
                              });
                          }
                      };
                  })
              </script>
              <% end %>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
    		<%= render 'form' %>
      </div>
    </div>
  </div>
</div>
