<div class="listing-page-top tooltip-demo">
	<div class="container">
		<h5><%= t("slides.create_slide_description") %></h5>
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#"><i class="icon-plus"></i>创建幻灯片项目</a></li>
	  </ul>
	</div>
</div>

<!-- Begin page content -->
<div class="listing-page">
	<div class="container">
    <div class="row">
      <div class="col-md-6">
				<%= if @attach_id.nil?
							render 'upload'
						else 
							render_cell :slides, :carousel, :attach_id => @attach_id
						end
				%>
         <!-- /#upper -->
      </div>
      <div class="col-md-6">
    		<%= render 'form' %>
      </div>
    </div>
  </div>
</div>
