<article ="col-sm-12">
<div class="jarviswidget">
<header role="heading">
	<span class="widget-icon"> <i class="icon-plus"></i> </span>
	<h2>创建文件夹</h2>
</header>
<div role="content">
<div class="widget-body no-padding">
<%= simple_form_for @folder do |f| %>
  <%= render "shared/error_messages", :target => @folder%>
	<fieldset>
		<section>
			<label class="label">文件夹名称</label>
			<label class="input">
    		<%= f.text_field :name, :class => "span5", placeholder: "在这里填写标题" %>
			</label>

		</section>
	</fieldset>
	<footer>
    <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
	</footer>
<% end %>
</div>
</div>
</article>
