<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="icon-folder-close"></i> 
			文件夹	
			<span>&gt; 
			 创建文件夹 
			</span>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="well">
				<button data-dismiss="alert" class="close">×</button>
				<h1 class="semi-bold">什么是文件夹？</h1>

				<p>文件夹可以分类管理Slides，并可以共享给其他用户</p>

			</div>
    		<%= render 'form' %>
		</div>
	</div>
