<div class="flexslider">
	<ul class="slides">
		<% @attach.photos.each do |item| %>
			<li><%= image_tag item.image %></li>
		<% end %>
	</ul>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('.flexslider').flexslider({
});
});
</script>
