<% if @attach.photos.blank? %>
    <div>
      <%= image_tag asset_path("load_large.gif"), :class => "img-responsive img-thumbnail", :style => "width:100%;" %>
    </div>
<% else %>
    <% @photos.each do |item| %>
        <%= image_tag item.image, :class => "img-responsive img-thumbnail", :style => "width:100%;" %>
    <% end %>
<% end %>
