<% if @attach.nil? || @attach.photos.blank? %>
	<div class="document_thumb">	
		<i class="<%= if @attach.nil? 
										'icon-bolt'
									else
										'icon-refresh icon-spin'
									end %> icon-large">
		</i>
	</div>
<% else %>
<div class="flexslider">
<ul class="slides">
	<% @attach.photos.each do |item| %>
   <li><%= image_tag item.image %></li>
 	<% end %>
</ul>
</div>
<% end %>
