<div class="row">
        
  <div class="col-sm-12 col-md-12 col-lg-3">

    <div class="dd" id="nestable2">
      <ol class="dd-list">
        <li class="dd-item" data-id="all"><button data-action="collapse" type="button" style="display: block;">Collapse</button><button data-action="expand" type="button" style="display: none;">Expand</button>
          <div class="dd-handle">
            全部通知
            <em class="badge pull-right bg-color-blue">99</em>
          </div>
          <ol class="dd-list" style="">
            <li class="dd-item" data-id="comment">
              <div class="dd-handle">
                收到评论
                <em class="badge pull-right bg-color-blue">17</em>
              </div>
            </li>

            <li class="dd-item" data-id="like">
              <div class="dd-handle">
                获得称赞
                <em class="badge pull-right bg-color-blue">25</em>
              </div>
            </li>

            <li class="dd-item" data-id="fans">
              <div class="dd-handle">
                粉丝增加
              </div>
            </li>

            <li class="dd-item" data-id="system">
              <div class="dd-handle">
                系统通知
                <em class="badge pull-right bg-color-blue">10</em>
              </div>
            </li>
            </li>
          </ol>
        </li>
      </ol>
    </div>

  </div>

  <article class="col-sm-12 col-md-12 col-lg-9">

  <div class="jarviswidget" id="wid-id-6" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header role="heading"><div class="jarviswidget-ctrls" role="menu">   <a href="#" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>  <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a></div>
      <h2>通知详情</h2>

    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

    <!-- widget div-->
    <div role="content">

      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

      </div>
      <!-- end widget edit box -->

      <!-- widget content -->
      <div class="widget-body">

        <div class="tabs-right">
          <div class="tab-content">
          </div>
        </div>

      </div>
      <!-- end widget content -->

    </div>
    <!-- end widget div -->
        
  </div>

  </article>

</div>

<!-- 下面试原来的通知页面 -->
<div class="container" id="notifications">

  <div class="basic-page-top">
    <h2>
      通知提醒
      <small>（<%= @notifications.total_entries %> 条）</small>
    </h2>
  </div>
  <!-- 通知内容 -->
  <div class="basic-page box">
    <% if @notifications.blank? %>
    <div class="no_result" style="padding:30px 30px;">暂无通知</div>
    <% else %>
    <table class="table">
      <tbody>
        <%= render :partial => "notification", :collection => @notifications %>
      </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @notifications, :inner_window => 2, container: false %>
      &nbsp;&nbsp;<%= link_to t("common.clear"), clear_notifications_path, :class => 'btn btn-danger', :method => :post, 'data-disable-with' => '清空中...' %>
    </div>
    <% end %>
  </div>

</div>
