<div class="container" id="notifications">

  <div class="listing-page-top">
    <h2>
      通知提醒
      <small>（<%= @notifications.total_entries %> 条）</small>
    </h2>
  </div>
  <!-- 通知内容 -->
  <div class="listing-page">
    <% if @notifications.blank? %>
    <div class="no_result" style="padding:30px 30px;">暂无通知</div>
    <% else %>
    <table class="table">
      <tbody>
        <%= render :partial => "notification", :collection => @notifications %>
      </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @notifications, :inner_window => 2, container: false %>
      &nbsp;&nbsp;<%= link_to t("common.clear"), clear_notifications_path, :class => 'btn btn-danger', :method => :post, 'data-disable-with' => '清空中...' %>
    </div>
    <% end %>
  </div>

</div>
