<div class="inbox-nav-bar no-content-padding">

  <h1 class="page-title txt-color-blueDark hidden-tablet"><i class="fa fa-fw fa-inbox"></i> 通知 &nbsp;
  </h1>

  <div class="inbox-checkbox-triggered">

    <div class="btn-group">
      <% if @notifications.present? %>
      <a href="<%= clear_notifications_path %>" rel="tooltip" title="" data-disable-with="清空中..." data-method="post" data-placement="right" data-original-title="清空" class="deletebutton btn btn-danger"><strong><i class="fa fa-trash-o fa-lg"></i></strong></a>
      <% end %>
    </div>

  </div>

  <a href="javascript:void(0);" id="compose-mail-mini" class="btn btn-primary pull-right hidden-desktop visible-tablet"> <strong><i class="fa fa-file fa-lg"></i></strong> </a>

</div>

<div id="inbox-content" class="inbox-body no-content-padding" style="position:static;">

<div class="inbox-side-bar">

  <h6> Folder <a href="javascript:void(0);" rel="tooltip" title="" data-placement="right" data-original-title="Refresh" class="pull-right txt-color-darken"><i class="fa fa-refresh"></i></a></h6>

  <ul class="inbox-menu-lg">
    <li class="active">
      <a class="inbox-load" href="javascript:void(0);"> 全部通知 (<%= @notifications.total_entries %>) </a>
    </li>
    <li>
      <a href="javascript:void(0);">收到评论</a>
    </li>
    <li>
      <a href="javascript:void(0);">获得称赞</a>
    </li>
    <li>
      <a href="javascript:void(0);">粉丝增加</a>
    </li>
    <li>
      <a href="javascript:void(0);">系统通知</a>
    </li>
  </ul>

</div>

<div class="table-wrap custom-scroll animated fast fadeInRight" style="opacity: 1;">
    <!-- 通知内容 -->
    <div class="basic-page box">
      <% if @notifications.blank? %>
          <div class="no_result" style="padding:30px 30px;">暂无通知</div>
      <% else %>
          <table class="table">
            <tbody>
            <%= render :partial => "notification", :collection => @notifications %>
            </tbody>
          </table>
          <div class="pagination">
            <%= will_paginate @notifications, :inner_window => 2, container: false %>
          </div>
      <% end %>
    </div>


</div>

</div>

<!-- 下面试原来的通知页面 -->

