<% slides.each do |slide| %>
<div class="item col-xs-4 draggable">
<div class="well">
	<h3><i class="fa fa-file"></i> <%= link_to(truncate(slide.title, :length => 100), slide_path(slide), :title => slide.title) %></h3>
</div>
</div>
<% end %>
