<% folders.each do |folder| %>
<div class="item col-xs-4">
<div class="well">
	<h3><%= folder.title %></h3>
	<div class="meta">
		<span></span>
		<span class="pull-right"><i class="icon-group"></i> <%= folder.followers.count %></span>
	</div>
</div>
</div>
<% end %>
