<div class="container">
  <div class="basic-page-top">
    <h2>
      <%= "#{current_user.login} " %>关注的动态
      <span class="pull-right">
        <a class="btn btn-sm btn-default dropdown-toggle"><i class="glyphicon glyphicon-th-list"></i>查看关注列表</a>
        <a class="btn btn-sm btn-default dropdown-toggle"><i class="glyphicon glyphicon-th"></i>发现更多</a>
      </span>
    </h2>
  </div>

  <!-- 关注的活动记录 -->
  <div class="basic-page box">
    <div class="row">
      <div class="col-md-8">
        <br>
        <%= render_activities(@activities, layout: :activity_wrapper) %>
        <div class="text-center">
          <div class="pagination">
            <%= will_paginate @activities, :inner_window => 2, container: false %>
          </div>
        </div>
      </div>

      <!-- 我最近处理的幻灯片 -->
      <div class="col-md-4">
          <h5>我最近处理的幻灯片</h5>
          <ul class="list-group">
            <% @current_slides.each do |slide| %>
            <li class="list-group-item"><%= link_to slide.title, slide_url(slide) %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
