<div class="listing-page-top">
<div class="container">
  <div class="row">
    <div class="right-sec">
      <div class="top">
        <h3 class="text-center">时间轴
          <small>/ 标签类 / 热门度</small>
        </h3>
      </div>
      <div class="row">
        <%= render :partial => "slides/slide", :collection => @slides %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= will_paginate @slides, :inner_window => 2 %>
  </div>
  <hr>
</div>
</div>