<div class="container">
  <!-- 登陆者的收藏夹展示 -->
  <div class="well well-light">
    <div class="row">
      <%= render :partial => "slides/slide", :collection => @slides,:locals => {:slides_col_md => @slides_col_md} %>
    </div>
    <div class="pagination">
      <%= will_paginate @slides, :inner_window => 2, container: false %>
    </div>
  </div>
</div>
