<%= render "menu" %>
<div class="slides">
	<h1 class="page-title txt-color-blueDark"><i class="icon-folder-close"></i> My Folders</h1>
	<div class="row">
		<%= render "folders", :folders => @folders %>
	</div>
</div>

