<div class="container">
  <div class="basic-page-top">
    <h2>
      <%= "#{current_user.login} " %> 关注的人
    </h2>
  </div>

  <!-- 关注的人列表，现在逻辑是错的 -->
  <div class="basic-page">
    <div id="users" class="box">
      <div id="hot_users" class="row user_list">
        <% if !@users.blank? %>
        <% @users.each do |item| %>
        <div class="item span1">
          <div class="avatar"><%= user_avatar_tag(item) %></div>
          <div class="name"><%= user_name_tag(item) %></div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
