<div class="listing-page">
	<div class="container">
		<div class="col-md-8">
              		<%= render_activities(@activities, layout: :activity_wrapper) %>
              		<div class="text-center">
                		<div class="pagination">
                  		<%= will_paginate @activities, :inner_window => 2, container:false %>
                		</div>
              		</div>
		</div>
			
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">我最近处理的幻灯片</h3></div>
					<ul class="list-group size-13">
						<% @current_slides.each do |slide| %>
							<li class="list-group-item"><%= link_to slide.title, slide_url(slide) %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
