<%= render "menu" %>
<div class="slides">
	<h1 class="page-title txt-color-blueDark"><i class="icon-file"></i> My Likes</h1>
	<div class="row">
		<%= render "slides", :slides => @slides %>
	</div>
</div>
