<div class="row">
  <div class="superbox col-sm-12">
    <%= render :partial => "slides/slide", :collection => @slides %>
  </div>
</div>
<div class="pagination">
  <%= will_paginate @slides, :inner_window => 2, container: false %>
</div>