<div class="container">
  <div class="listing-page-top">
    <h2>
      左侧的部分准备上移
    </h2>
  </div>

  <div class="listing-page">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="left-sec">
          <%= render "sidebar_info" %>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="right-sec">
          <div class="row">
            <%= render :partial => "slides/slide", :collection => @slides %>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <%= will_paginate @slides, :inner_window => 2, container: false %>
    </div>
  </div>
</div>
