<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<div class="left-sec">
				<div class="left-cont">
					<%= render "sidebar_info" %>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-8">
			<div class="right-sec">
				<div class="top">
					<ul class="nav nav-tabs tooltip-demo">
						<li class="active"><a href="#"><i class="fa fa-video-camera"></i>  全部（<strong><%= @slides.count %></strong>）</a></li>
					</ul>
				</div>
				<div class="row">
					<%= render :partial => "slides/slide", :collection => @slides %>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="text-center">
		<%= will_paginate @slides, :inner_window => 2 %>
	</div>
	<hr>
</div>
