<div class="row">

  <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="well well-light well-sm no-margin no-padding">

            <div class="row">

              <div class="col-sm-12">
                <%= render :partial => "slides/slide", :collection => @slides %>
                <div class="pagination">
                  <%= will_paginate @slides, :inner_window => 2, container: false %>
                </div>
              </div>
            </div>
          </div>
         </div>
      </div>

  </div>
</div>
