<%= render "menu" %>
<div class="slides">
	<h1 class="page-title txt-color-blueDark"><i class="icon-hdd"></i> My Slides	</h1>
	<div class="row">
		<%= render "slides", :slides => @slides %>
	</div>
</div>

