<div class="jarviswidget">
	<header>
<%= render "menu" %>
</header>
<div class="slides">
	<h1 class="page-title txt-color-blueDark"><i class="icon-file"></i> My Uploads</h1>
	<div class="row">
		<%= render "slides", :slides => @slides %>
	</div>
</div>

</div>
