<% content_for :sitemap do %><span class="current">404</span>
<% end %>
<div id="error_page" class="top">
  <br>

  <h1 class="text-center">403 没有权限</h1>

  <h2 class="text-center">
    <small>抱歉，你没有做此操作的权限。点击 <a href="/">这里</a> 返回首页，如有问题或建议，请点击右上角的反馈按钮。</small>
  </h2>
</div>