<div id="error_page" class="top">
  <br>

  <h1 class="text-center">Ops, 404</h1>

  <h2 class="text-center">
    <small>似乎没有这个页面哦！点击<big><a href="/">这里</a></big>返回首页，如有问题，请点击左侧的反馈按钮。</small>
  </h2>
</div>