<div id="error_page" class="top">
  <br>

  <h1 class="text-center">Ops, 404</h1>

  <h2 class="text-center">
    <small>似乎没有这个页面！点击 <a href="/">这里</a> 返回首页，如有问题或建议，请点击右上角的反馈按钮。</small>
  </h2>
</div>