/********************************************************************* STYLE 1 *************************************************************/

.smart-style-1 a {
	transition: color 0.1s linear 0s,background-color 0.1s linear 0s !important;
}

.smart-style-1 body.container {
	border-left: 1px solid rgba(34, 38, 46, 0.4);
	border-right: 1px solid rgba(34, 38, 46, 0.4);
}

.smart-style-1 #header {
	background-image:none;
	background-color:#22262e;
}

.smart-style-1 #project-context > :first-child {
	color: #697B92;
	text-shadow: 0 0 1px #111318;
}

.smart-style-1 #ribbon {
	background: #e6e6e6;
}


.smart-style-1 #ribbon .breadcrumb > .active, .smart-style-1 #ribbon .breadcrumb li:last-child {
color: #868686;
}

.smart-style-1 #ribbon .breadcrumb a, .smart-style-1 #ribbon .breadcrumb {
color: #747474 !important;
}

.smart-style-1 .breadcrumb>li+li:before {
	color: #646464;
}

.smart-style-1 #project-selector {
	color: #B9B9B9;
}

.smart-style-1 .open > .dropdown-menu, .smart-style-1 .dropdown-menu {
	padding:4px;
}
.smart-style-1 .dropdown-menu>li>a, .smart-style-1 .dropdown-menu > li > a {
	border-radius:4px;
	margin:3px 0;
}


.smart-style-1 .btn.btn-ribbon {
background-color: #697486;
background-image: -moz-linear-gradient(top, #6F7D94, #697486);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6F7D94), to(#697486));
background-image: -webkit-linear-gradient(top, #6F7D94, #697486);
background-image: -o-linear-gradient(top, #6F7D94, #697486);
background-image: linear-gradient(to bottom, #6F7D94, #697486);
}

.smart-style-1 #logo-group span#activity {
background: #0d0f12;
border: 1px solid #0d0f12;
color:#fff;
cursor: pointer;
}.smart-style-1 .btn-header > :first-child > a {
background: #fb3c4a;
border: 1px solid #fb3c4a;
color:#fff !important;
cursor: pointer !important;	
}.smart-style-1 .btn-header > :first-child > a:hover {
	opacity:.9;
}

.smart-style-1 #cancel-search-js {
	background: #fb3c4a;
	line-height:29px !important;
}

.smart-style-1 .MsgTitle .txt-color-orangeDark {
	color:#fb3c4a !important;
}

@media (max-width: 979px) and (min-width: 768px) {
	.smart-style-1  #hide-menu i {
		color: #fff !important;
	}
}

@media only screen and (max-width: 679px) and (min-width: 0px) {
	.smart-style-1 #hide-menu i {
		color: #fff !important;
	}
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
	.smart-style-1 #sparks {
		background: #fff;
	}

	.smart-style-1 #cancel-search-js, .smart-style-1 .search-mobile .header-search > button {
		border-radius:3px;
	}
}	


.smart-style-1 .minifyme {
	background: #434953;
} .smart-style-1 .minifyme:hover {
	background: #5C6C86;
	color: #E1E8F3
}

.smart-style-1 #show-shortcut:hover > i {
	color:#fff;
}

.smart-style-1 aside, 
.smart-style-1 .superbox-show,
.smart-style-1 .inbox-footer  {
background: #1b1e24;
}
.smart-style-1 .superbox-list.active:before {
	color: #1b1e24;
}



.smart-style-1 #logo-group {
background:#22262e !important;
}

.smart-style-1 .login-info span, .smart-style-1 .login-info {
	border-bottom:none;
}

.smart-style-1 nav ul b .fa-expand-o:before {
	content: "\f104";
}

.smart-style-1 nav ul b .fa-collapse-o:before {
	content: "\f107";
}

.smart-style-1 .header-search > input[type="text"] {
	border-color:#FFF !important;
	border-radius:2px;
}

.smart-style-1 nav ul ul li > a {
	text-shadow: 0 1px 1px #000;
	font-size: 13px;
	padding-left: 43px;
	color:#e1eaf1;
	display: block;
	font-weight: 300;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}
.smart-style-1 nav ul ul ul li a {
	padding: 8px 17px 8px 54px !important;
}
.smart-style-1 nav ul ul ul ul li a {
	padding-left: 72px !important;
}
.smart-style-1 nav ul ul ul ul ul li a {
	padding-left: 90px !important;
}
.smart-style-1 nav ul ul ul ul ul ul li a {
	padding-left: 108px !important;
}

.smart-style-1 nav > ul > li > ul::before, .smart-style-1 nav > ul ul li::before {
	border:none !important;
}

.smart-style-1 nav > ul > li > a > i {
	font-size: 17px;
	vertical-align: 0px;
}

.smart-style-1 nav > ul > li >a b {
	right: 17px;
	top: 12px;
}

.smart-style-1 nav > ul > li > a > i:after {
	border:1px solid #fff; /* here */
}

.smart-style-1 nav ul ul {
	background: #22262E;
}

.smart-style-1 nav ul ul li > a:hover {
	background: #1b1e24 !important;
}


.smart-style-1 nav ul li a, 
.smart-style-1 .login-info strong, 
.smart-style-1 .login-info a {
	color: #8b91a0;
}.smart-style-1 nav ul li a:active {
	background:none;
}.smart-style-1 nav ul li a:hover {
	color:#E1EAF1;
}

.smart-style-1 .header-dropdown-list a.dropdown-toggle {
	color:#FFF;
	text-decoration:none;
}

.smart-style-1 nav ul li a {
	padding: 12px 17px 12px 16px;
}

.smart-style-1 .login-info {
	height:auto;
}
.smart-style-1 .login-info > span{
	padding: 5px 10px;
}

.smart-style-1 .login-info img {
	width: 35px;
	border-radius:50%;
}

.smart-style-1 .login-info a {
	margin-top:2px;
}
.smart-style-1 .login-info a span {
	max-width: 136px;
}

.smart-style-1 .login-info a:hover {
	color:#fff;
}

.smart-style-1 #logo-group > span .badge {
	background: #0aa699;
}

.smart-style-1 #activity.active .badge {
 	background: #0aa699 !important;
}

.smart-style-1 .ajax-dropdown {
	background: #E2E8F1;
}

.smart-style-1 .ajax-notifications {
	background:#fff;
}

/* no nav animation */
	.smart-style-1  nav > ul > li > a:hover i {
		-webkit-animation-name: none;
		-moz-animation-name: none;
		-o-animation-name: none;
		animation-name: none;
	}


/*
 * COLORS
 */

.smart-style-1 img.online {
	border-left-color: #0AA699 !important; 
}

.smart-style-1 .onoffswitch-inner:before {
	  background-color: #36AECC !important;
	}

	.smart-style-1 .bg-color-red {
	  background-color: #fb3c4a !important;
	}
	
	
	
.smart-style-1 .pagination>.active>a, 
.smart-style-1 .pagination>.active>span, 
.smart-style-1 .pagination>.active>a:hover, 
.smart-style-1 .pagination>.active>span:hover, 
.smart-style-1 .pagination>.active>a:focus, 
.smart-style-1 .pagination>.active>span:focus {
	background-color: #36AECC;
	border-color: #36AECC;
}	


/*
 * MINIFIED
 */

.smart-style-1.minified .login-info a {
	margin-top:6px;
}

.smart-style-1.minified nav ul li a {
	padding: 12px 17px 12px 14px;
}

.smart-style-1.minified nav > ul > li > a > i {
	font-size: 18px;
}

.smart-style-1.minified nav > ul > li {
border-bottom: 1px solid #131416;
border-top: 1px solid #303031;
}

.smart-style-1.minified nav > ul > li > ul {
	background:#1B1E24;
}
.smart-style-1.minified nav > ul > li > ul > li {
	background:#22262E;
}

.smart-style-1.minified .login-info img {
	width: 30px !important;
}
.smart-style-1.minified .login-info span {
	padding: 0px 5px !important;
}

.smart-style-1.minified nav ul ul li > a:hover {
	background: #30343D !important;
}

.smart-style-1.minified nav ul > li > ul > li > ul {
	background:#1B1E24;
}

.smart-style-1.minified nav > ul > li > ul > li > ul > li {
	background:#1B1E24;
}

.smart-style-1.minified nav ul ul li > a {
	padding-left: 13px;
	padding-right: 13px !important;
}
.smart-style-1.minified nav ul ul ul li a {
	padding-left: 33px !important;
	padding-right: 13px !important;
}
.smart-style-1.minified nav ul ul ul ul li a {
	padding-left: 43px !important;
	padding-right: 13px !important;
}
.smart-style-1.minified nav ul ul ul ul ul li a {
	padding-left: 53px !important;
	padding-right: 13px !important;
}
.smart-style-1.minified nav ul ul ul ul ul ul li a {
	padding-left: 63px !important;
	padding-right: 13px !important;
}


/*
 * widget colors
 */

.smart-style-1 .jarviswidget-color-darken > header  {
	background: #1B1E24 !important;
	border-color: #1B1E24 !important;
}

.smart-style-1 .jarviswidget-color-blueDark > header  {
	background: #353D4B !important;
	border-color: #353D4B !important;
}

.smart-style-1 .jarviswidget-color-blue > header {
	background: #688F9E;
	border-color: #6A838D !important;
}

.smart-style-1 .jarviswidget-color-purple > header {
	background: #736086;
}

.smart-style-1 .jarviswidget-color-red > header {
	background: #C02631;
	border-color: #8F2129 !important;
}

.smart-style-1  .jarviswidget .bg-color-red {
	background: #C02631 !important;
}

.smart-style-1 .jarviswidget-color-greenLight > header, .smart-style-1 .jarviswidget .bg-color-greenLight {
	border-color: #96B447 !important;
	background: #96B447 !important;
}

.smart-style-1 .jarviswidget-color-yellow > header, .smart-style-1 .jarviswidget .bg-color-yellow {
	border-color: #DBB727 !important;
	background: #FDD01C !important;
	color: #25241F;
}

.smart-style-1 .jarviswidget-color-pink > header, .smart-style-1 .jarviswidget .bg-color-pink {
	background: #DB8EBB !important;
}

