/*
 *= require bootstrap
 *= require custom
 *= require font-awesome.min
 *= require wikistyle
 *= require jquery.chosen
 *= require highlight
 *= require social-share-button
 *= require jquery.atwho
 *= require nprogress
 *= require_tree ./sprites/
 *= require_self
 */
html {
  width: 100%;
  height: 100%;
  background:#eee image-url('bg.png') bottom left repeat;
}
body { background:none; font-family: Arial,Helvetica,sans-serif;}
.container {
 	border-left: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
	padding: 0;
	position: relative;
}

code { background:none; }

.navbar-fixed-top {
  position:static;right:0;left:0;margin-bottom:20px;
  .badge-inverse { background:#666;}

  .search-query {
    margin-bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .brand {width:60px;}
  .badge {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 6px;
  }
  .badge-error { background:#C43C35; }
  h3 {
    margin:0; padding:0; margin-top:2px; margin-right:10px;
    width:123px; float:left;
    a {
      padding:0; margin:0; margin-top:3px;
      background:image_url('text_logo.png') left top no-repeat;
      width:123px;
      height:29px;
      display:block;
      border:0px;
      background-size:123px 29px;
      &:hover {
        opacity:0.9;
      }
      &:active {
        opacity:0.5;
      }
    }
  }
}

.breadcrumb {
  color:#999; border:0px;
  background:#FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
}

.container { width:960px; }
.container-fluid { padding:0; }
.container-fluid > .sidebar {
  position:absolute;
  left:auto;
  right:0;
  top:0;
  width: 240px;
}

.container-fluid > .content {
  margin-left:0;
  margin-right: 260px;
}

fieldset { margin-bottom:0;}
fieldset legend { font-size:16px; font-weight:bold;}

.pagination { margin:0; margin-top:10px; }

a.label:hover { text-decoration: none; color:#FFF;}

abbr[title] { border:0; cursor:default; }

form {
  margin-bottom:0px;
}
.form-actions {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  margin-bottom:0px;
}

.box {
  background-color: #fff;
  padding:10px;
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
  h2.title {
    font-size: 12px;
    margin:0 -10px; padding:0 10px; margin-bottom:8px;
    color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
}

.box_gray {
  background:#F5F5F5;
}

.dropdown-small {
  .dropdown-menu {
    border-color:#ccc;
    min-width:100px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 2px rgba(0,0,0,.2);
    box-shadow: 0 0px 2px rgba(0,0,0,.2);
  }
  li {
    &.title {
      padding:2px 8px;
      color:#bbb;
    }
    a {
      padding:1px 8px;
      font-size:12px;
      i { color:#bbb; }
    }
  }
}

.footer {
  border-top:0;
  min-width: 940px;
  margin-bottom:30px;
  margin-top:0px;
  padding:0;
  text-shadow: 0 1px 0 #fff;
}
.footer p {
  margin:3px 0;
  color: #555;
}
#main { position:relative;}
#main h1 { font-size:14px; line-height:26px; font-weight:bold; text-align:right; color:#333; margin-bottom:10px; }

.topbar { position: static; margin-bottom:20px;}

textarea.long { width:670px;}
textarea.span16 { width:910px;}
.input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge { width:510px;}

div.field, div.actions {
  margin-bottom: 10px;
}
div.field .hint { font-size:12px; color:#999;}

.field_with_errors {
  display:inline;
  color:#b16125;
}

.alert-message { margin-bottom:8px;}

.icon {
  display:inline-block;
  transition-property: background-position;
  transition-duration: 0.5s;
  -moz-transition-property: background-position; /* Firefox 4 */
  -moz-transition-duration: 0.5s; /* Firefox 4 */
  -webkit-transition-property: background-position; /* Safari and Chrome */
  -webkit-transition-duration: 0.5s; /* Safari and Chrome */
}
.icons_go_top { width: 16px; height: 16px; background: url(image-path('go_top.png'));}
.icons_rss { width: 16px; height: 16px; background: url(image-path('rss.png')); }

@media only screen and (-webkit-device-pixel-ratio: 2){
	.icons_rss { background: url(image-path('rss@2x.png')); background-size:16px 16px; }
	.icons_go_top { background: url(image-path('go_top@2x.png')); background-size:16px 16px; }
}

.simple_form {
  label.required {
    abbr { color:#c00;}
  }
}

/* bootstrap puts .clearfix inside form, doesn't make much sense */
.clearfix {
  margin-bottom: 18px;
  zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}

#error_page {
  padding:60px;
  h1 { font-size:600%; color:#aaa; margin-bottom:100px;}
  p { font-size:16px; }
}

.no_result { text-align:center; color:#999; }

.go_top {
  background: #FFF;
  text-align: center;
  border:1px solid #eee;
  display:none;
  height:20px; width:24px;
  padding-top:4px; overflow:hidden;
  border-radius:6px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

img.emoji { width:20px; height:20px; }

/* for markdown code hint */
.v-btn-group {
  display: block;
}

.v-btn-group + .v-btn-group {
  margin-top: 5px;
  margin-left: 0;
}

.langs {
  width: 360px;
  margin: 0 auto;
}

button.lang {
  width: 90px;
}

.footer_buttons {
  width: 130px;
  padding-bottom: 15px;
}
.no-right-panel #header {
  margin: 0 !important;
}
#header {
	background-color: #ECECEC;
	background-image: linear-gradient(to bottom, #F3F3F3, #E2E2E2);
	background-repeat: repeat-x;
	display: block;
	height: 49px;
	padding: 0 13px 0 0;
	position: relative;
	#logo a {
		height: auto;
    background: image_url('text_logo.png') left top no-repeat;
		height: 100%;
    display: block;
    border: 0px;
    background-size: 123px 29px;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.5;
    }
  }
	& > *:first-child, aside {
		width: 220px;
	}
	& > div {
	  display: inline-block;
	  float: left;
	  height: 49px;
	  vertical-align: middle;
	}
}
#logo-group > span {
	display: inline-block;
  float: left;
  height: 39px;
}
#header a#activity {
	-moz-user-select: none;
	background-color: #F8F8F8;
	background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
	border: 1px solid #C6C6C6;
	border-radius: 2px;
	color: #C4BAB6;
	cursor: default !important;
	display: inline-block;
	font-size: 19px;
	font-weight: bold;
	height: 30px;
	margin: 10px 0 0;
	padding: 2px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	width: 30px;
}
#header a#activity:hover {
  border: 1px solid #C6C6C6;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08) inset;
  cursor: pointer !important;
  transition: all 0s ease 0s;
}
#header a .badge {
  background: none repeat scroll 0 0 #2A89C9;
  border-radius: 50%;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.07) inset;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: normal;
  padding: 2px 4px 3px;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -5px;
}
#logo {
  display: inline-block;
  margin-left: 9px;
  margin-top: 13px;
  width: 175px;
}
.header-search {
  position: relative;
	margin-right: 70px;
	.pull-right {
		margin-left: 6px;
	}
	& > input[type="text"] {
		display: block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		min-width: 300px;
		width: 100%;
		height: 30px;
		padding: 8px 10px;
		outline: none;
		border-width: 1px;
		border-style: solid;
		border-radius: 0;
		border-color:#C6C6C6;
		background: #fff;
		font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;
		color: #404040;
		appearance: normal;
		-moz-appearance: none;
		-webkit-appearance: none;
		margin-top:10px;
	}
	& > button {
	  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	  border: medium none;
	  color: #6D6A69;
	  font-size: 17px;
	  height: 30px;
	  line-height: 30px;
	  margin: 0;
	  padding: 0;
	  position: absolute;
	  right: 0;
	  top: 10px;
	  width: 30px;
	  z-index: 2;
	}
}
.btn-header.pull-right {
	margin-left: 6px;
}
.btn-header {
	a > span {
  	display: inline-block;
  	font-size: 13px;
	  font-weight: normal;
	  height: 30px;
  	line-height: 30px;
	}
}
#userbar {
	display: inline-block;
	padding: 7px 13px 0;
	position: relative;
	& > span {
  	display: block;
	}
	& > *:first-child {
 	 	color: #C7C5BE;
  	display: block;
 	 	font-size: 10px;
		font-weight: bold;
  	padding-left: 0;
  	text-align: left;
  	text-shadow: 0 0 1px #FFFFFF;
  	text-transform: uppercase;
	}
	.label {
		background: none;
	}
}
#userbar-selector {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #787878;
	cursor: pointer;
	font-size: 14px;
	max-width: 97%;
	padding: 0;
	text-align: left;
	white-space: nowrap;
	&:hover {
		color: #333333;
	}
}
.open > .dropdown-menu {
	animation-name: flipInX;
}
.open > .dropdown-menu {
	animation-duration: 0.4s;
	animation-fill-mode: both;
}
#login-header-space {
	display: block;
	float: right;
	line-height: 43px;
	text-align: right;
	vertical-align: middle;
}
#login-header-space > *:first-child {
	font-size: 13px;
	font-weight: 400;
	margin-right: 14px;
	vertical-align: -3px;
}
#login-header-space .btn {
	font-weight: bold;
	text-transform: uppercase;
}
#login-header-space > * {
	display: inline-block;
}
