/* 设置面包屑多余的"/"不显示 */
ul.breadcrumb .divider{
  display: none;
}
/* 覆盖原生的图片路径 */
.dropzone .dz-default.dz-message{
  background-image: asset_url("dropzone/spritemap.png")
}
html{
	background: asset_url("mybg.png") #fff
}
body{
	background: asset_url("mybg.png") #fff
}

/* SuperBox */
.superbox-list {
  width: 33%;
}